{{ template "header.html" . }}

<div class="container">
	<h1>Edit Blog</h1>
	<form action="/blog/edit/{{.ID}}" method="post">
		
		<label>Title</label>
		<input type="text" name="title" value="{{.Name}}" required>

		<label>Abstract</label>
		<input type="text" name="abstract" value="{{.Abstract}}" required>

		<label>Content</label>
		<textArea name="content" style="height:300px" required>{{.Content}}"</textArea>
	
		<input type="submit" value="Post!">
	</form>
</div>

{{ template "footer.html" . }}
